<h1>Beastie Boys Discography -- Hell to the yeah!</h1>

<img border = "0" img src ="/beastie-boys-2.jpg/">

<form action="/searches/find_by_year" method="get">
  <label>Search Beastie Boys albums by year:</label>
  <input type="text" name="album_year"/>

  <input type="submit" name="submit" value="Search"/>
</form>

<!-- <p>You searched for Beastie Boys albums in <%= @album_year%>.</p> -->

<% if params[:album_year].present? then %>
  <% @albums.each do |album|%>
    <p><b>In <%= @album_year%>, the album released was "<%= album.name %>."</b></p>
  <% end %>
<% end %>

<% if @albums.empty? and params[:album_year].present? then %>
  <p> There are no albums for that year.</p>
<% end %>

<p>Or...</p>

<form action="/searches/find_by_name" method="get">
  <label>Search album name to find out the year released:</label>
  <input type="text" name="album_name"/>
  <input type="submit" name="submit" value="Search"/>
</form>

<% if params[:album_name].present? then %>
  <% @albums.each do |album| %>
  <p><b> The album "<%= @album_name %>", was released in <%= album.year %>.</b></p>
  <% end %>
  <% end %>

